.navbar {
    background-color: #333; /* Fondo oscuro */
    color: rgb(0, 0, 0); /* Texto blanco */
    padding: 0px 0px;
  }
  .navbar .container-fluid{
    margin-left: 350px;
  }
  
  .navbar .nav-link {
    color: rgb(0, 0, 0); /* Color de los enlaces */
    text-decoration: none;
    margin: 0 0px;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-link:hover {
    color: #ffcc00; /* Color al pasar el mouse */
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28155, 155, 155, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-nav .nav-item {
    margin: 0 0px;
  }
  
  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #ffcc00; /* Color del enlace activo */
  }